.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
.replit
replit.nix
content/oscp/
content/private/



# Ignore Smart Environment folder
.smart-env
.smart-chats
.system-prompts
