.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
.quartz/
.replit
replit.nix
content/private/

# Ignore Smart Environment folder
.smart-env
.smart-chats
.system-prompts
